*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6d9d3;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.top-menu h3 {
  font-size: 12px;
  font-weight: 500;
  color: #282828;
  text-transform: uppercase;
}

.battery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.battery span {
  font-size: 12px;
  font-weight: 500;
  margin-right: 3px;
}

.battery img {
  width: 20px;
}

.card {
  width: 300px;
  height: 550px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-clip: padding-box;
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 100%;
  margin-top: -30px;
}

.minute,
.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #100f0f;
  transform: rotate(0deg);
  transform-origin: bottom center;
  box-shadow: 0 0 10px 0 rgba(34, 32, 32, 0.4);
  z-index: 1;
}

.minute {
  height: 130px;
  width: 4px;
  top: -38%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(34, 32, 32, 0.4);
  transform: rotate(90deg);
}

.second {
  position: absolute;
  margin: auto;
  width: 2px;
  height: 90px;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #ff483e;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: white;
  border: 2px solid #1b1b1b;
  margin: auto;
  z-index: 1;
}

.timing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timing .time {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.timing p {
  font-weight: 500;
  font-size: 1.2rem;
}

.circle {
  position: absolute;
  top: -130%;
  left: -30%;
  height: 200vh;
  width: 100%;
  background-color: rgb(155, 145, 145);
  border-radius: 50%;
  z-index: -1;
}
